{% extends "base.html" %}

{% block content %}
<div id="list" class="container">
  <div id="calendar">
  {% for event in events %}
  <div class="event card card-block">
    <h3 class="name card-title">
      {% if event.url %} <a href="{{ event.url }}"> {% endif %}
      {{ event.name }}
      {% if event.url %} </a> {% endif %}
    </h3>
    <span class="auxiliary">
      {% if event.end %}
      {{ event.start }} &mdash; {{ event.end }};
      {% else %}
      {{ event.start }};
      {% endif %}


      {% if event.location %}
      {{ event.location }}
      {% endif %}
    </span>
    <div class="description card.text">
      <br/>
      {# TODO: This isn't actually markdown. Should fix later #}
      {{ event.description | markdown | safe }}
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
